<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/png" href="../static/favicon.png" sizes='32x32'/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/index.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/0f95db5029.js" crossorigin="anonymous"></script>
        <title>thqm</title>
    </head>

    <body class='bg-dark'>
        <header>
            <div class="navbar navbar-dark bg-dark box-shadow">
                <a href='/' tabindex='-1' class="navbar-brand">thqm</a>
                {% if qrcode %}
                    <div class="my-2 my-sm-0">
                        <button tabindex='-1' type='button' class='btn btn-secondary btn-lg' title='Show QR code' data-toggle='modal' data-target='#qrcode'>
                            <i class="fas fa-qrcode"></i>
                        </button>
                {% endif %}
                        <a class="btn btn-secondary btn-lg text-light" onclick='fetch("?shutdown");' role="button">
                            <i class="fas fa-power-off"></i>
                        </a>
                    </div>
            </div>
        </header>

        {% if qrcode %}
            <!-- Modal -->
            <div class="modal fade" id="qrcode" tabindex="-1" role="dialog" aria-labelledby="modalQRCode" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content bg-dark text-light">
                  <div class="modal-body text-center">
                      <img src='../static/qr_code.svg' style="width: 100%">
                  </div>
                </div>
              </div>
            </div>
        {% endif %}

		{% if events %}
			{% for e in events %}
				<div class='my-2 mx-2 disable-dbl-tap-zoom'>
					<a class='btn btn-secondary event-content' tabindex=0 role='button' onclick="fetch('./' + '{{ e }}')">
						<pre class='my-0 text-light'>{{ e|safe }}</pre>
					</a>
				</div>
			{% endfor %}
		{% endif %}
    </body>
	<script>
		// Get the event buttons
		var button = Array.from(document.getElementsByClassName("event-content"));

		function addEnterToClick(element) {
			element.addEventListener("keyup", function(event) {
				// Number 13 is the "Enter" key on the keyboard
				if (event.keyCode === 13) {
					event.preventDefault();
					element.click();
				}
			});
		}
		// add the eventListener to all the buttons
		button.map(addEnterToClick);
	</script>
</html>
